# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore Jetbrains IDE folder
.idea/*

# Dependency directories (remove the comment below to include it)
vendor/

# File from testing
session*/
*.darwin64
*.linux64
*.win64
*.xxchan
*.pem
*.log
statePath/
*.xxc